.venv
.env
__pycache__/
*.__pyc
.vscode

popularnames.txt

jawiki-country.json

dependency_tree
dependency_tree.png

gemini_api.py
virology.csv

GoogleNews-vectors-negative300.bin.gz
questions-words.txt