.venv
.env
__pycache__/
*.__pyc
.vscode

popularnames.txt

jawiki-country.json

dependency_tree
dependency_tree.png

gemini_api.py
virology.csv

GoogleNews-vectors-negative300.bin.gz
questions-words.txt
combined.tab
ward_clustering.png
tsne.png
tsne_vectors.png

SST-2/

model.pt

knock_bert